.file-container {
    width: 80%;
    margin: 40px auto;
}

table {
    width: 100%;
}

thead{
    background-color: rgba(0, 24, 50, 0.1);
    font-size: 16px;
    color: #001832;
}
th{
    padding: 10px;
    height: 30px;
}
td {
    padding: 10px;
    height: 60px;
}

th:first-child{
    text-align: center;
    border-radius: 20px 0 0 20px;
}
th:last-child{
    text-align: center;
    border-radius: 0 20px 20px 0;
}

th:nth-child(2),
th:nth-child(3) {
    text-align: left;
}

td:nth-child(1){
    color: #000;
    font-size: 14px;
    text-align: center;
    width: 10%;
}

td:nth-child(2) {
    color: #000;
    font-size: 14px;
    width: 50%;
    text-align: left;
}


td:nth-child(3) {
    color: rgba(38, 64, 93, 0.6);
    font-size: 14px;
    text-align: left;
    width: 30%;
}
td:nth-child(4) {
    text-align: center;
}

.download-button {
    background: url('../assets/icon/downloadButton.png');
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.download-button:hover {
    opacity: 0.5;
}


tr { 
    border-bottom: 1px solid #CAD4DF;
}
thead tr {
    border-bottom: none; 
}