/* input-chat-wrapper */
.input-chat-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: 12%;
  background-color: #fff;
}

.input-chat-inner {
  display: flex;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #87A7CB;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
  width: 60%;
}

.input-chat-inner input[type="text"],
.input-chat-inner textarea {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  padding: 5px;
  margin-left: 15px;
  font-size: 14px;
}

#submit {
  border: none;
  background-color: transparent;
  margin-right: 6px;
}

.up-arrow {
  width: 30px; 
  height: 30px; 
}

/* chat blind wrapper */
.chat-blind-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 7%;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 1; 
  }

/* message wrapper */
.instructor-wrapper,
.chatbot-wrapper {
  flex: 1; 
  overflow-y: auto;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 13vh;
  flex-direction: column; 
}

.chatbot-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.chatbot-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent; 
}
.instructor-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.instructor-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent; 
}


.question-wrapper,
.answer-wrapper {
    max-width: 50%;
    margin-top: auto;
    width: fit-content;
    word-wrap: break-word;
}
.question-wrapper{
    margin-left: auto;
}
.question {
    background: rgba(250, 200, 204, 0.7);
    border-radius: 20px 20px 0 20px;
    color: #000; 
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}
.answer {
    background: rgba(0, 24, 50, 0.1);
    border-radius: 20px 20px 20px 0;
    color: #000; 
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
.answer-wrapper:first-child {
  margin-top: 12vh; 
}
.question-wrapper:first-child {
  margin-top: 12vh;
  margin-bottom: 10px;
}

/* time wrapper */
.question-time-wrapper {
  display: flex;
  justify-content: flex-end;
}

.time {
  font-size: 12px;
  color: #888;
}

/*date container */
.date {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: black;
}
.date:first-child {
  margin-top: 150px;
  margin-bottom: 10px;
}

/* mobile screen */
@media screen and (max-width: 900px) {
  .question-wrapper,
  .answer-wrapper {
    max-width: 80%;
  }
  .instructor-wrapper,
  .chatbot-wrapper {
    width: 90%;
  }
  .input-chat-inner {
    height: 40px;
    padding: 2px;
    width: 90%;
  }
  .input-chat-wrapper{
    height: 10%;
  }
}


/*spinner*/
.spinner-border {
  width: 1rem;
  height: 1rem;
}
