html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}
.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-content {
    padding: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}