.mobile-file-wrapper{
    width: 90%;
    height: 100vh;
    background-color: #FCD9DC;
    display: none;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 15%;
    padding-bottom: 5%;
}
.mobile-file-wrapper table {
    width: 100%; 
}
.mobile-file-wrapper thead tr {
    background-color: rgba(0, 24, 50, 0.1);
    color: #000;
    font-size: 14px;
}
.mobile-file-wrapper tr th:nth-child(2) {
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

.mobile-file-wrapper tr th:nth-child(3) {
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

.mobile-file-wrapper td {
    padding: 10px;
    text-align: center;
    height: 6vh;
}

.mobile-file-wrapper td:nth-child(1) {
    color: #001832;
    font-size: 14px;
    width: 15%;
    text-align: center;
}

.mobile-file-wrapper td:nth-child(2) {
    text-align: left;
}
.mobile-file-wrapper td:nth-child(3) {
    text-align: center;
    width: 25%;
}

.mobile-file-wrapper .file-info div {
    font-size: 14px;
    color: #001832;
}

.mobile-file-wrapper .file-info div:last-child {
    font-size: 10px;
    color: rgba(38, 64, 93, 0.6);
}

.mobile-file-wrapper tr{
    position: relative;
}

.mobile-file-wrapper tr:after {
    content: "";
    position: absolute;
    left: 15%;
    right: 6%;
    bottom: 0;
    border-bottom: 2px solid rgba(38, 64, 93, 0.1);;
}

/*paging button*/
.myMobilePaging {
    text-align: center;
}
.mobilePageButton {
    background-color: transparent;
    color: #000;
    font-size: 14px;
    border: none;
    text-decoration: none;
}
.mobilePageButton.current {
    text-decoration: underline;
    font-weight: bold;
}
/* mobile screen */
@media screen and (max-width: 900px) {
    .mobile-file-wrapper {
        display: block;
    }
}