aside {
    height: 100vh;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s;
    flex: none;
}

.aside-container {
    background: #001832;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10);
    border-radius: 30px;
    padding: 25px;
    color: white;
    position: relative;
}

.aside-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background: none;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    transition: all 0.5s;
}

.aside-menus {
    list-style: none;
    padding: 0;
}

.aside-menus > li {
    margin-bottom: 6px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: start;
}

.aside-menus > li:hover {
    cursor: pointer;
}

.aside-menus > .active {
    background: rgba(250, 200, 204, 0.65);
}

.aside-menus > .active > .aside-menus-item-left {
    background: #FAC8CC;
}

.aside-menus > li > .aside-menus-item-left {
    width: 40px;
    height: 40px;
    background: #26405D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.aside-menus > li > .aside-menus-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    flex-shrink: 1;
    overflow-x: hidden;
}

.aside-menus > li h5 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
}

.aside-menus > li p {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 0;
}

.close {
    width: 120px;
}

.close > .aside-container > .aside-menus li {
    background: none;
    padding: 10px 0 10px 0;
    justify-content: center;
}

.close > .aside-container > .aside-menus .aside-menus-item-left {
    padding: 0;
}

/*.close > .aside-container > .aside-menus .aside-menus-item-right {*/
/*    display: none;*/
/*}*/

.close > .aside-container > .aside-toggle {
    transform: rotate(180deg) translateY(50%);
}